.container {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A1A1A1;
}

.drop-zone {
  margin-top: 23px;
  margin-bottom: 3px;
  width: 180px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px dashed #262626;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.drop-zone > span {
  margin-left: 15px;
}

.drop-zone.dragover {
  background-color: #C8C8C8;
}

hr {
  width: 200px;
  border: 1.5px solid rgba(38, 38, 38, 0.52);
  margin-top: 15px;
}

.select-file {
  margin-top: 10px;
  font-size: 10px;
}

button {
  color: #a1a1a1;
  margin-top: 10px;
  width: 120px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background-color: #3A3A3A;
  border: 1px solid #262626;
  border-radius: 6px;
  transition: background-color 1s;
}

button:hover {
  background-color: #262626;
}

mat-progress-bar {
  background-color: #262626;
  color: #A1A1A1;
  border-color: #A1A1A1;
  width: 160px;
  margin-top: 2px;
}

input[type="file"] {
  display: none;
}
