<div class="container">
  <div class="drop-zone" (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)" (drop)="onDrop($event)"
  [class.dragover]="isDragOver">
    <img src="assets/drop-logo.png" alt="drop logo">
    <span>Drop File Here</span>
    <input type="file" (change)="handleFileChange($event)">
  </div>
  <p-messages></p-messages>
  <mat-progress-bar *ngIf="uploadProgress > 0" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
  <div class="select-file" *ngIf="selectFile">
    <span>{{ selectFile.name }}</span>
  </div>
  <hr>
  <button (click)="handleUpload()">Upload File</button>
</div>

